<h1>
  Add a new density
</h1>


<hr>

<!-- Form density start -->
<form action="/create_density" method="post">
<!-- Form density end -->

  <!-- Label and input for level start -->
  <div class="form-group">
    <label for="level">
      Level
    </label>

    <!-- Input for level start -->
    <input type="text" id="level" name="level" class="form-control">
    <!-- Input for level end -->
  </div>
  <!-- Label and input for level end -->

  <!-- Label and input for description start -->
  <div class="form-group">
    <label for="description">
      Description
    </label>

    <!-- Input for description start -->
    <textarea id="description" name="description" class="form-control" rows="3"></textarea>
    <!-- Input for description end -->
  </div>
  <!-- Label and input for description end -->

  <!-- Label and input for position start -->
  <div class="form-group">
    <label for="position">
      Position
    </label>

    <!-- Input for position start -->
    <input type="text" id="position" name="position" class="form-control">
    <!-- Input for position end -->
  </div>
  <!-- Label and input for position end -->

  <button class="btn btn-block btn-outline-secondary">
    Create density
  </button>
</form>

<hr>

<a href="/densities">
  Go back
</a>
