<h1>
  Edit ingredient #<%= @ingredient.id %>
</h1>

<hr>

<form action="/update_ingredient/<%= @ingredient.id %>" method="post">

  <div class="form-group">
    <label for="product_id">
      Product
    </label>

    <%= select_tag(:product_id, options_from_collection_for_select(Product.all, :id, :name, @ingredient.product_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="substance_id">
      Substance
    </label>

    <%= select_tag(:substance_id, options_from_collection_for_select(Substance.all, :id, :name, @ingredient.substance_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update ingredient
  </button>
</form>

<hr>

<a href="/ingredients">
  Go back
</a>
