<h1>
  Add a new ingredient
</h1>


<hr>

<!-- Form ingredient start -->
<form action="/create_ingredient" method="post">
<!-- Form ingredient end -->

  <!-- Label and input for product_id start -->
  <div class="form-group">
    <label for="product_id">
      Product
    </label>

    <!-- Input for product_id start -->
    <%= select_tag(:product_id, options_from_collection_for_select(Product.all, :id, :name, @ingredient.product_id), :class => "form-control") %>
    <!-- Input for product_id end -->
  </div>
  <!-- Label and input for product_id end -->

  <!-- Label and input for substance_id start -->
  <div class="form-group">
    <label for="substance_id">
      Substance
    </label>

    <!-- Input for substance_id start -->
    <input type="text" id="substance_id" name="substance_id" class="form-control">
    <!-- Input for substance_id end -->
  </div>
  <!-- Label and input for substance_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create ingredient
  </button>
</form>

<hr>

<a href="/ingredients">
  Go back
</a>
