<% if @ingredient.present? %>
  <% if @ingredient.errors.any? %>
    <% @ingredient.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new ingredient
</h1>


<hr>

<form action="/create_ingredient" method="post">

  <div class="form-group">
    <label for="product_id">
      Product
    </label>

    <%= select_tag(:product_id, options_from_collection_for_select(Product.all, :id, :name, @ingredient.product_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="substance_id">
      Substance
    </label>

    <%= select_tag(:substance_id, options_from_collection_for_select(Substance.all, :id, :name, @ingredient.substance_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create ingredient
  </button>
</form>

<hr>

<a href="/ingredients">
  Go back
</a>
