<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Products
  </div>

  <ul class="list-group list-group-flush">
    <% @user.products.each do |product| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/products/<%= product.id %>">
          <%= product.name %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
