<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Substances
  </div>

  <ul class="list-group list-group-flush">
    <% @product.substances.each do |substance| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/substances/<%= substance.id %>">
          <%= substance.name %>
        </a>
        <!-- Show link end -->

      </li>
    <% end %>

  </ul>
</div>
