<form action="/create_review_from_product" method="post">

  <div class="form-group">
    <label for="body">
      Body
    </label>

    <input type="text" id="body" name="body" class="form-control" value="<%= @review.body %>">
  </div>

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @review.user_id), :class => "form-control") %>
  </div>

  <input type="hidden" name="product_id" value="<%= @product.id %>">

  <div class="form-group">
    <label for="would_use_again">
      Would use again
    </label>
    <input id="would_use_again" class="form-check-input" name="would_use_again" type="checkbox" <%= "checked" if @review.would_use_again %>>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create review
  </button>
</form>
