<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Densities
  </div>

  <ul class="list-group list-group-flush">
    <% @product.densities.each do |density| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/densities/<%= density.id %>">
          <%= density.level %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
