<!-- Validation failure messages -->
<% if @product.present? %>
  <% if @product.errors.any? %>
    <% @product.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new product
</h1>


<hr>

<!-- Form product start -->
<form action="/create_product" method="post" enctype="multipart/form-data">
<!-- Form product end -->

  <!-- Label and input for product_category_id start -->
  <div class="form-group">
    <label for="product_category_id">
      Product category
    </label>

    <!-- Input for product_category_id start -->
    <input type="text" id="product_category_id" name="product_category_id" class="form-control" value="<%= @product.product_category_id %>">
    <!-- Input for product_category_id end -->
  </div>
  <!-- Label and input for product_category_id end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <!-- Input for name start -->
    <input type="text" id="name" name="name" class="form-control" value="<%= @product.name %>">
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <!-- Label and input for amazon_asin start -->
  <div class="form-group">
    <label for="amazon_asin">
      Amazon asin
    </label>

    <!-- Input for amazon_asin start -->
    <input type="text" id="amazon_asin" name="amazon_asin" class="form-control" value="<%= @product.amazon_asin %>">
    <!-- Input for amazon_asin end -->
  </div>
  <!-- Label and input for amazon_asin end -->

  <!-- Label and input for photo start -->
  <div class="form-group">
    <label for="photo">
      Photo
    </label>

    <!-- Input for photo start -->
    <input type="file" id="photo" name="photo" class="form-control">
    <!-- Input for photo end -->
  </div>
  <!-- Label and input for photo end -->

  <button class="btn btn-block btn-outline-secondary">
    Create product
  </button>
</form>

<hr>

<a href="/products">
  Go back
</a>
