<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Ingredients

    <a data-toggle="collapse" href="#substance_ingredients_new_form">
      Add ingredient
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @substance.ingredients.each do |ingredient| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/ingredients/<%= ingredient.id %>">
          <%= ingredient.product_id %>
        </a>
        <!-- Show link end -->

        <!-- Delete link start -->
        <a href="/delete_ingredient_from_substance/<%= ingredient.id %>">
          Delete
        </a>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="substance_ingredients_new_form">
        <!-- New associationcollection form start -->
        <%= render partial: "substance_templates/substance_ingredients_new_form" %>
        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
