<form action="/create_ingredient_from_substance" method="post">

  <div class="form-group">
    <label for="product_id">
      Product
    </label>

    <%= select_tag(:product_id, options_from_collection_for_select(Product.all, :id, :name, @ingredient.product_id), :class => "form-control") %>
  </div>

  <input type="hidden" name="substance_id" value="<%= @substance.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create ingredient
  </button>
</form>
