<% if @substance.errors.any? %>
  <% @substance.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit substance #<%= @substance.id %>
</h1>

<hr>

<form action="/update_substance/<%= @substance.id %>" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @substance.name %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update substance
  </button>
</form>

<hr>

<a href="/substances">
  Go back
</a>
