<!-- Validation failure messages -->
<% if @substance.present? %>
  <% if @substance.errors.any? %>
    <% @substance.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new substance
</h1>


<hr>

<!-- Form substance start -->
<form action="/create_substance" method="post">
<!-- Form substance end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <!-- Input for name start -->
    <input type="text" id="name" name="name" class="form-control" value="<%= @substance.name %>">
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <button class="btn btn-block btn-outline-secondary">
    Create substance
  </button>
</form>

<hr>

<a href="/substances">
  Go back
</a>
