<h1>
  Edit age group #<%= @age_group.id %>
</h1>

<hr>

<form action="/update_age_group/<%= @age_group.id %>" method="post">

  <div class="form-group">
    <label for="range">
      Range
    </label>

    <input type="text" id="range" name="range" class="form-control" value="<%= @age_group.range %>">
  </div>

  <div class="form-group">
    <label for="position">
      Position
    </label>

    <input type="text" id="position" name="position" class="form-control" value="<%= @age_group.position %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update age group
  </button>
</form>

<hr>

<a href="/age_groups">
  Go back
</a>
