<h1>
  Add a new age group
</h1>


<hr>

<!-- Form age_group start -->
<form action="/create_age_group" method="post">
<!-- Form age_group end -->

  <!-- Label and input for range start -->
  <div class="form-group">
    <label for="range">
      Range
    </label>

    <!-- Input for range start -->
    <input type="text" id="range" name="range" class="form-control">
    <!-- Input for range end -->
  </div>
  <!-- Label and input for range end -->

  <!-- Label and input for position start -->
  <div class="form-group">
    <label for="position">
      Position
    </label>

    <!-- Input for position start -->
    <input type="text" id="position" name="position" class="form-control">
    <!-- Input for position end -->
  </div>
  <!-- Label and input for position end -->

  <button class="btn btn-block btn-outline-secondary">
    Create age group
  </button>
</form>

<hr>

<a href="/age_groups">
  Go back
</a>
