<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Products

    <a data-toggle="collapse" href="#product_category_products_new_form">
      Add product
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @product_category.products.each do |product| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/products/<%= product.id %>">
          <%= product.name %>
        </a>
        <!-- Show link end -->

        <!-- Delete link start -->
        <a href="/delete_product_from_product_category/<%= product.id %>">
          Delete
        </a>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="product_category_products_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
